@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.5)),
    url("../img/bg.jpg");
  width: 100%;
  height: 47%;
  background-size: cover;
  background-position: center;
}

.navbar {
  box-shadow: 1px 12px 5px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 12px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 12px 5px 0px rgba(0, 0, 0, 0.11);
}

.banner {
  margin-top: 2%;
  margin-left: 13%;
}

.banner h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bolder;
}

.line {
  width: 10%;
  height: 5px;
  display: block;
  background-color: white;
}

.login {
  padding-top: 4%;
  width: 100%;
  height: 100%;
}

.img-login {
  height: 95%;
}

.img-login img {
  width: 100%;
  height: 100%;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.login-form {
  height: 100%;
}

.login-form .btn {
  margin-bottom: 22%;
}

.line-label {
  width: 7%;
  height: 3px;
  display: block;
  background-color: black;
}

.img-tracking {
  width: 100%;
}

.img-tracking img {
  width: 100%;
  border-radius: 15px;
}

.footer {
  background-color: black;
}

.about-hr {
  width: 10%;
}

.error-validate {
  color: red;
}

@media screen and (max-width: 425px) {
  .img-login {
    display: none;
  }

  .login-form .btn {
    width: 50% !important;
  }

  .banner h1 {
    font-size: 2em;
  }

  .img-tracking {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .header-cs {
    font-size: 1.7em;
  }
}
